<html>
  <head>
    <title>Live detection feed</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/display.js') }}"></script>
    <link href="{{url_for('static', filename='css/display.css')}}" rel="stylesheet" type="text/css" media="all">
  </head>
  <body>
    <h1>Live Facial Detection</h1>
    <div id="container">        
    </div>
  </body>
</html>