<html>
  <head>
    <title>Live detection feed</title>
    <link href="{{url_for('static', filename='css/eye.css')}}" rel="stylesheet" type="text/css" media="all">
  </head>
  <body>
    <h1>Watching...</h1>
    <div id="container">
        <video autoplay="true" id="webcam"></video>
        <!-- <img id="imageElement" src="/video_feed?channel=main"> -->
        <canvas width="640" height="480" id="canvas"></canvas>
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js" integrity="sha256-IxGLmHPQulZvYG3Kon9cB4ssL2JZ6EcP+nGHURmJe10=" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/eye.js') }}"></script>
</html>